params {
  publishDirMode = "symlink"
  resultsDir = "results"
  deployDir = "deploy"
}

process {
  cpus = 1
}

timeline.enabled = true
timeline.file = "results/timeline.html"

report.enabled = true
report.file = "results/report.html"

resume = true

workDir = "/home/sturm/scratch/projects/2020/kortekaas2020_paper/work"
